
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Patrick Hand SC', cursive;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.gameDisplay{
    position: relative;
    width: 1200px;
    height: 720px;
    display: grid;
    grid-template-columns: 4fr 3fr;
}
#character{
    width: 360px;
    height: 360px;
    background-position: center;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#coinIcon{
    width: 60px;
    height: 60px;
    background-image: url(coin.svg);
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.coinUI{
    position: absolute;
    top: 5px;
    left: 5px;
}
#coinText{
    position: absolute;
    top: 10px;
    left: 24px;
    border: 2px solid gold;
    width: 130px;
    border-radius: 0 20px 20px 0;
    text-align: right;
    padding-right: 10px;
    font-size: 26px;
}
.icon{
    width: 48px;
    height: 48px;
    grid-row: 1 / 3;
}
.item{
    display: grid;
    grid-template-rows: 24px 24px;
    grid-template-columns: 48px 1fr;
    margin-bottom: 10px;
}
.info, .price{
    margin-left: 10px;
    font-size: 20px;
}
h3{
    font-size: 28px;
    margin-bottom: 10px;
}

#arrow1 .icon{
    background-image: url(arrow1.svg);
}
#arrow2 .icon{
    background-image: url(arrow2.svg);
}
#arrow3 .icon{
    background-image: url(arrow3.svg);
}
#arrow4 .icon{
    background-image: url(arrow4.svg);
}
#arrow5 .icon{
    background-image: url(arrow5.svg);
}
#arrow6 .icon{
    background-image: url(arrow6.svg);
}
#win .icon{
    background-image: url(win.svg);
}

.level0{
    background-image: url(Default.webp);
    background-size: cover;
}
.level1{
    background-image: url(1.jpeg);
    background-size: cover;
}
.level2{
    background-image: url(2.webp);
    background-size: cover;
}
.level3{
    background-image: url(3.png);
    background-size: cover;
}
.level4{
    background-image: url(4.jpeg);
    background-size: cover;
}
.level5{
    background-image: url(5.jpeg);
    background-size: cover;
}
.level6{
    background-image: url(6.webp);
    background-size: cover;
}
.level7{
    background-image: url(7.webp);
    background-size: 565px;
}
.volume{
    position: absolute;
    right: 10px;
    top: 10px;
    transform-origin: right;
    transform: rotateZ(-90deg);
}
input[type=range]::-webkit-slider-thumb{
    background: black;
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track{
    background: black;
    -webkit-appearance: none;
}

.winPopup{
    position: absolute;
    z-index: 10;
    background-color: rgb(40, 40, 40);
    color: white;
    width: 400px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}
.visible{
    opacity: 1;
    visibility: visible;
}